DATABASE_URL=mysql+pymysql://norawork:パスワード@localhost/norawork
SECRET_KEY=ここにopenssl rand -hex 32の出力を貼る
ALLOWED_ORIGINS=https://norawork.jp
FRONTEND_URL=https://norawork.jp
PHOTO_DIR=/home/billy/norawork.jp/htdocs/norawork-photos
SENSOR_PHOTO_DIR=/home/billy/norawork.jp/htdocs/sensor-photos
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# SMTP設定
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@norawork.jp
SMTP_TLS=False
